@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.services {
		padding: 4rem 4rem;
		height: auto;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}	

	.services__div {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		gap: 2rem;
	}

	.services__article {
		gap: 2rem;
		background-color: var(--nepal-10);
		width: 70%;
		padding: 4rem;
		border-radius: 20px;
	}
	
	.services__h3 {
		font-size: 3rem;
	}

	.services__p {
		font-size: 1.5rem;
		font-weight: normal;
		font-style: normal;
		line-height: 1.5rem;
	}

	.services__ul {
		gap: 2rem;	
	}

	.services__li {
		font-size: 1rem;
		font-style: italic;
		font-weight: normal;
		line-height: 2rem;
	}
}