@media only screen and (min-width: 1024px) {
	/***************************************** STYLE HEADER *************************/
	.header {
		position: fixed;
		padding: 0 0rem;
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--black-80);
		border-bottom: 1px solid var(--nepal-10);
	}

	.header__div {
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.header__img {
		width: 200px;
		height: 150px;
		object-fit: contain;
	}

	.header__nav {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}

	.header__button {
		display: none;
	}

	.header__a {
		padding: 0.5rem 1rem;
		font-size: 1.5rem;
		text-decoration: none;
		color: var(--white);
		padding: 1rem;
	}

	.header__a--active {
		background-color: var(--nepal-20);
		border-radius: 10px;
	}

	.button__a {
		text-align: center;
		background-color: var(--nepal);
		font-size: 1.5rem;
		text-decoration: none;
		font-weight: 500;
		padding: 1rem;
		border-radius: 10px;
		text-align: center;
		color: var(--black);
		transition: all 0.5s;
		width: 10rem;
		cursor: pointer;
	}

	.button__a--small {
		padding: 1rem 3rem;
	}

	.button__a:hover {
		background-color: var(--blue);
		color: var(--white);
	}

	.hamburger--button {
		display: none;
	}

	.header--unfixed {
		position: sticky;
	}
	/***************************************** STYLE HEADER *************************/
}